<h1>Sign Up</h1>

<div class="errors">
  <% unless @user.errors.empty? %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<br>
<br>

<%= form_for @user do |f| %>
  <table>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.text_field :email %></td>
    </tr>

    <tr>
      <td><%= f.label :password %></td>
      <td><%= f.password_field :password %></td>
    </tr>

    <tr>
      <td><%= f.label :password_confirmation %></td>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>

    <tr>
      <td></td>
      <td><%= f.submit "Sign Up" %></td>
    </tr>
  </table>
<% end %>
