<h1>Create New User</h1>

<%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.text_area :password %>
  <%= f.label :password_confirmation %>
  <%= f.text_area :password_confirmation %>
  <%= f.submit "Create User" %>
<% end %>
